body {
    color: @main-font;

    .header {
        
        }
        .title-container{
            display: flex;
            justify-content: space-between;
            padding: 1% 1% 3% 1%;
            background: 
            linear-gradient(to right, #1B1A1A, #FF9233);
            color: white;

            @media @tablet2 {
                justify-content: center;
            }

            h1{
                font-size: 3rem;

                @media @mobile {
                    text-align: center;
                    color: white;
                    font-size: 3rem;
                    font-weight: 100;
                    margin-top: 5%;
                    font-family: @main-font;

                }
            }
        }
    .banner{
        display: none;
        background-color: @orange;
        text-align: center;
        color: white;
        font-size: 1.5rem;
        padding: 1.2%;
        font-family: @main-font;
        font-weight: bolder;

        @media @mobile{
            background-color: transparent;
            color: white;
            display: block;
            font-size: 1.25rem;
            padding-top: 2%;
            background: url("../images/Group-outside.jpg");
            background-size: cover;
            background-position: center center;
            height: 430px;
        }
    }
    .searchby{
        display: flex;
        flex-direction: column;
        background-color: @main-color;
        height: 800px;
        justify-content: center;
        padding: 2%;

        .heading{
                font-size: 4rem;
                color: white;
                text-align: center;
                margin-bottom: 5%;
        }

        .searchbypics{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            text-align: center;
            font-size: 2rem;
            color: white;

            margin-top: 5%;
            margin-bottom: 10%;

            img{
                border-radius: 15px;

                @media @tablet{
                    height: 180px;
                    width: 250px;
                }
            }

            .button{
                .button(@orange, black, 1.2rem, arial);
                padding: 1% 3%;
                border-radius: 6px;
                margin: 1.5%;
                border: white solid 1px;
                width: 200px;
            }
        }

        @media @tablet{
            height: 600px;
        }
        @media @mobile{
            display: none;
        }

    }

    .anywhere{
        display: flex;
        flex-direction: column;
        background: url("../images/Group-outside.jpg");
        background-size: cover;
        background-position: center center;
        height: 800px;
        justify-content: center;
        padding: 2%;

        @media @tablet{
            height: 600px;
        }
        @media @mobile{
            display: none;
        }
    
        h2{
            font-size: 4rem;
            font-family: @main-font;
            color: white;
            font-weight: 900;
            padding: 2% 0%;
            line-height: .5;
            text-align: center;

            @media @tablet {
                font-size: 6rem;
                text-align: center;
            }

            @media @tablet2 {
                font-size: 5rem;
            }

            @media @mobile{
                display:none;
            }

        }
        p{
            font-size: 1.25rem;
            font-style: normal;
            color: white;
            font-weight: 100;
            line-height: 1.5;
            margin: 1% 30% 15% 30%;
            width: 40%;
            text-align: center;

            @media @tablet{
                margin-bottom: 0%;
                width: 60%;
                text-align: justify;
                margin-top: 12%;
            }
            @media @tablet2 {
                font-size: 1.5rem;
                margin-bottom: 30%;
            }

            @media @mobile{
                display: none;
            }
        }
    }

}